.copy-wrap {
  position: relative;
  width: fit-content;
}

.copied-text {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  z-index: 5;
  display: block;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.btn-link {
  display: inline-block;
  padding: 8px 32px;
  border: 2px solid #DDD;
  background-color: #DDD;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: #CCC;
  }

  &.btn-link-facebook {
    background-color: $c-fabecook-100;
    border-color: $c-fabecook-100;
    color: #FFF;

    &:hover {
      background-color: $c-fabecook-200;
      border-color: $c-fabecook-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-fabecook-100;
      &:hover {
        color: #FFF;
        background-color: $c-fabecook-200;
      }
    }
  }

  &.btn-link-email {
    background-color: #FFF;
    border-color: $c-email-100;

    &:hover {
      background-color: rgba($c-email-100, .04);
      border-color: $c-email-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-email-100;
      &:hover {
        color: #FFF;
        background-color: $c-email-200;
      }
    }
  }

  &.btn-link-twitter {
    background-color: $c-twitter-100;
    border-color: $c-twitter-100;
    color: #FFF;

    &:hover {
      background-color: $c-twitter-200;
      border-color: $c-twitter-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-twitter-100;
      &:hover {
        color: #FFF;
        background-color: $c-twitter-200;
      }
    }
  }

  &.btn-link-tumblr {
    background-color: $c-tumblr-100;
    border-color: $c-tumblr-100;
    color: #FFF;

    &:hover {
      background-color: $c-tumblr-200;
      border-color: $c-tumblr-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-tumblr-100;
      &:hover {
        color: #FFF;
        background-color: $c-tumblr-200;
      }
    }
  }

  &.btn-link-pinterest {
    background-color: $c-pinterest-100;
    border-color: $c-pinterest-100;
    color: #FFF;

    &:hover {
      background-color: $c-pinterest-200;
      border-color: $c-pinterest-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-pinterest-100;
      &:hover {
        color: #FFF;
        background-color: $c-pinterest-200;
      }
    }
  }

  //&.btn-link-line {
  //  background-color: $c-line-100;
  //  border-color: $c-line-100;
  //  color: #FFF;
  //
  //  &:hover {
  //    background-color: $c-line-200;
  //    border-color: $c-line-200;
  //  }
  //
  //
  //}

  &.btn-link-linkedin {
    background-color: $c-linkedin-100;
    border-color: $c-linkedin-100;
    color: #FFF;

    &:hover {
      background-color: $c-linkedin-200;
      border-color: $c-linkedin-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-linkedin-100;
      &:hover {
        color: #FFF;
        background-color: $c-linkedin-200;
      }
    }
  }

  &.btn-link-reddit {
    background-color: $c-reddit-100;
    border-color: $c-reddit-100;
    color: #FFF;

    &:hover {
      background-color: $c-reddit-200;
      border-color: $c-reddit-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-reddit-100;
      &:hover {
        color: #FFF;
        background-color: $c-reddit-200;
      }
    }
  }

  &.btn-link-whatsapp {
    background-color: $c-whatsapp-100;
    border-color: $c-whatsapp-100;
    color: #FFF;

    &:hover {
      background-color: $c-whatsapp-200;
      border-color: $c-whatsapp-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-whatsapp-100;
      &:hover {
        color: #FFF;
        background-color: $c-whatsapp-200;
      }
    }
  }

  &.btn-link-telegram {
    background-color: $c-telegram-100;
    border-color: $c-telegram-100;
    color: #FFF;

    &:hover {
      background-color: $c-telegram-200;
      border-color: $c-telegram-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-telegram-100;
      &:hover {
        color: #FFF;
        background-color: $c-telegram-200;
      }
    }
  }

  &.btn-link-pocket {
    background-color: $c-pocket-100;
    border-color: $c-pocket-100;
    color: #FFF;

    &:hover {
      background-color: $c-pocket-200;
      border-color: $c-pocket-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-pocket-100;
      &:hover {
        color: #FFF;
        background-color: $c-pocket-200;
      }
    }
  }

  &.btn-link-copy {
    background-color: $c-copy-100;
    border-color: $c-copy-100;
    color: #FFF;

    &:hover {
      background-color: $c-copy-200;
      border-color: $c-copy-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-copy-100;
      &:hover {
        color: #FFF;
        background-color: $c-copy-200;
      }
    }
  }

  &.is-rounded {
    border-radius: 5px;
  }

  &.is-circled {
    border-radius: 20px;
  }

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}

.btn-link-icon {
  width: 38px;
  height: 38px;
  background-color: #999;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all .4s ease-in-out;
  border: 2px solid #DDD;
  svg {
    width: 24px;
    height: 24px;
  }
  &.btn-link-facebook-icon {
    background-color: $c-fabecook-100;
    border-color: $c-fabecook-100;
    color: #FFF;

    &:hover {
      background-color: $c-fabecook-200;
      border-color: $c-fabecook-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-fabecook-100;
      &:hover {
        background-color: $c-fabecook-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-whatsapp-icon {
    background-color: $c-whatsapp-100;
    border-color: $c-whatsapp-100;
    color: #FFF;

    &:hover {
      background-color: $c-whatsapp-200;
      border-color: $c-whatsapp-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-whatsapp-100;
      &:hover {
        background-color: $c-whatsapp-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-telegram-icon {
    background-color: $c-telegram-100;
    border-color: $c-telegram-100;
    color: #FFF;

    &:hover {
      background-color: $c-telegram-200;
      border-color: $c-telegram-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-telegram-100;
      &:hover {
        background-color: $c-telegram-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-twitter-icon {
    background-color: $c-twitter-100;
    border-color: $c-twitter-100;
    color: #FFF;

    &:hover {
      background-color: $c-twitter-200;
      border-color: $c-twitter-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-twitter-100;
      &:hover {
        background-color: $c-twitter-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-tumblr-icon {
    background-color: $c-tumblr-100;
    border-color: $c-tumblr-100;
    color: #FFF;

    &:hover {
      background-color: $c-tumblr-200;
      border-color: $c-tumblr-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-tumblr-100;
      &:hover {
        background-color: $c-tumblr-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-linkedin-icon {
    background-color: $c-linkedin-100;
    border-color: $c-linkedin-100;
    color: #FFF;

    &:hover {
      background-color: $c-linkedin-200;
      border-color: $c-linkedin-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-linkedin-100;
      &:hover {
        background-color: $c-linkedin-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-reddit-icon {
    background-color: $c-reddit-100;
    border-color: $c-reddit-100;
    color: #FFF;

    &:hover {
      background-color: $c-reddit-200;
      border-color: $c-reddit-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-reddit-100;
      &:hover {
        background-color: $c-reddit-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-pinterest-icon {
    background-color: $c-pinterest-100;
    border-color: $c-pinterest-100;
    color: #FFF;

    &:hover {
      background-color: $c-pinterest-200;
      border-color: $c-pinterest-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-pinterest-100;
      &:hover {
        background-color: $c-pinterest-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-pocket-icon {
    background-color: $c-pocket-100;
    border-color: $c-pocket-100;
    color: #FFF;

    &:hover {
      background-color: $c-pocket-200;
      border-color: $c-pocket-200;
    }
    &.is-bordered {
      background-color: transparent;
      color: $c-pocket-100;
      &:hover {
        background-color: $c-pocket-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-email-icon {
    background-color: $c-email-100;
    border-color: $c-email-100;
    color: #FFF;

    &:hover {
      background-color: $c-email-200;
      border-color: $c-email-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-email-100;
      &:hover {
        background-color: $c-email-200;
        color: #FFF;
      }
    }
  }

  &.btn-link-copy-icon {
    background-color: $c-copy-100;
    border-color: $c-copy-100;
    color: #FFF;

    &:hover {
      background-color: $c-copy-200;
      border-color: $c-copy-200;
    }

    &.is-bordered {
      background-color: transparent;
      color: $c-copy-100;
      &:hover {
        background-color: $c-copy-200;
        color: #FFF;
      }
    }
  }

  &.is-rounded {
    border-radius: 5px;
  }

  &.is-circled {
    border-radius: 50%;
  }

  &.is-whited {
    width: auto;
    height: auto;
    border: 0;
    background-color: transparent;
    svg {
      width: 26px;
      height: 26px;
    }
  }
}

.btn-link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 16px;
  li {
    .btn-link-icon {
      width: 34px;
      height: 34px;
      svg {
        width: 20px;
        height: 20px;
      }
      &.is-whited {
        width: auto;
        height: auto;
        background-color: transparent;
        svg {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
