$c-fabecook-100: #3B5998;
$c-fabecook-200: #30487d;

$c-twitter-100: #00ACEE;
$c-twitter-200: #009DDB;

$c-line-100: #00B900;
$c-line-200: #009B00;

$c-whatsapp-100: #128C7E;
$c-whatsapp-200: #075E54;

$c-email-100: #34B7F1;
$c-email-200: #34A3F1;

$c-tumblr-100: #36465D;
$c-tumblr-200: #14141D;

$c-pinterest-100: #E60023;
$c-pinterest-200: #D3001F;

$c-linkedin-100: #00A0DC;
$c-linkedin-200: #0077B5;

$c-reddit-100: #FF4500;
$c-reddit-200: #D33B00;

$c-pocket-100: #EE4056;
$c-pocket-200: #DE142D;

$c-copy-100: #10B981;
$c-copy-200: #059669;