.btn-link-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    .btn-link-icon {
      width: 2.75rem;
      height: 2.75rem;

      svg {
        width: 20px;
        height: 20px;
      }

      &.is-whited {
        width: auto;
        height: auto;
        background-color: transparent;
        color: #ffffff;

        svg {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
