.copy-wrap {
  position: relative;
  width: fit-content;
}

.copied-text {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  z-index: 5;
  display: block;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.btn-link {
  display: inline-block;
  padding: 8px 32px;
  border: 1px solid #DDD;
  background-color: #DDD;
  text-decoration: none;
  color: #222;
  transition: all 0.4s ease-in-out;
}
.btn-link:hover {
  background-color: #CCC;
}
.btn-link.btn-link-facebook {
  background-color: #3B5998;
  border-color: #3B5998;
  color: #FFF;
}
.btn-link.btn-link-facebook:hover {
  background-color: #30487d;
  border-color: #30487d;
}
.btn-link.btn-link-email {
  background-color: #FFF;
  border-color: #34B7F1;
}
.btn-link.btn-link-email:hover {
  background-color: rgba(52, 183, 241, 0.04);
  border-color: #34A3F1;
}
.btn-link.btn-link-twitter {
  background-color: #00ACEE;
  border-color: #00ACEE;
  color: #FFF;
}
.btn-link.btn-link-twitter:hover {
  background-color: #009DDB;
  border-color: #009DDB;
}
.btn-link.btn-link-tumblr {
  background-color: #36465D;
  border-color: #36465D;
  color: #FFF;
}
.btn-link.btn-link-tumblr:hover {
  background-color: #14141D;
  border-color: #14141D;
}
.btn-link.btn-link-pinterest {
  background-color: #E60023;
  border-color: #E60023;
  color: #FFF;
}
.btn-link.btn-link-pinterest:hover {
  background-color: #D3001F;
  border-color: #D3001F;
}
.btn-link.btn-link-line {
  background-color: #00B900;
  border-color: #00B900;
  color: #FFF;
}
.btn-link.btn-link-line:hover {
  background-color: #009B00;
  border-color: #009B00;
}
.btn-link.btn-link-linkedin {
  background-color: #00A0DC;
  border-color: #00A0DC;
  color: #FFF;
}
.btn-link.btn-link-linkedin:hover {
  background-color: #0077B5;
  border-color: #0077B5;
}
.btn-link.btn-link-reddit {
  background-color: #FF4500;
  border-color: #FF4500;
  color: #FFF;
}
.btn-link.btn-link-reddit:hover {
  background-color: #D33B00;
  border-color: #D33B00;
}
.btn-link.btn-link-whatsapp {
  background-color: #128C7E;
  border-color: #128C7E;
  color: #FFF;
}
.btn-link.btn-link-whatsapp:hover {
  background-color: #075E54;
  border-color: #075E54;
}
.btn-link.btn-link-pocket {
  background-color: #EE4056;
  border-color: #EE4056;
  color: #FFF;
}
.btn-link.btn-link-pocket:hover {
  background-color: #DE142D;
  border-color: #DE142D;
}
.btn-link.btn-link-copy {
  background-color: #10B981;
  border-color: #10B981;
  color: #FFF;
}
.btn-link.btn-link-copy:hover {
  background-color: #059669;
  border-color: #059669;
}
.btn-link.is-rounded {
  border-radius: 5px;
}
.btn-link svg {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.btn-link-icon {
  width: 38px;
  height: 38px;
  background-color: #999;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.4s ease-in-out;
}
.btn-link-icon svg {
  width: 24px;
  height: 24px;
}
.btn-link-icon.btn-link-facebook-icon {
  background-color: #3B5998;
  border-color: #3B5998;
  color: #FFF;
}
.btn-link-icon.btn-link-facebook-icon:hover {
  background-color: #30487d;
  border-color: #30487d;
}
.btn-link-icon.btn-link-whatsapp-icon {
  background-color: #128C7E;
  border-color: #128C7E;
  color: #FFF;
}
.btn-link-icon.btn-link-whatsapp-icon:hover {
  background-color: #075E54;
  border-color: #075E54;
}
.btn-link-icon.btn-link-twitter-icon {
  background-color: #00ACEE;
  border-color: #00ACEE;
  color: #FFF;
}
.btn-link-icon.btn-link-twitter-icon:hover {
  background-color: #009DDB;
  border-color: #009DDB;
}
.btn-link-icon.btn-link-tumblr-icon {
  background-color: #36465D;
  border-color: #36465D;
  color: #FFF;
}
.btn-link-icon.btn-link-tumblr-icon:hover {
  background-color: #14141D;
  border-color: #14141D;
}
.btn-link-icon.btn-link-linkedin-icon {
  background-color: #00A0DC;
  border-color: #00A0DC;
  color: #FFF;
}
.btn-link-icon.btn-link-linkedin-icon:hover {
  background-color: #0077B5;
  border-color: #0077B5;
}
.btn-link-icon.btn-link-reddit-icon {
  background-color: #FF4500;
  border-color: #FF4500;
  color: #FFF;
}
.btn-link-icon.btn-link-reddit-icon:hover {
  background-color: #D33B00;
  border-color: #D33B00;
}
.btn-link-icon.btn-link-pinterest-icon {
  background-color: #E60023;
  border-color: #E60023;
  color: #FFF;
}
.btn-link-icon.btn-link-pinterest-icon:hover {
  background-color: #D3001F;
  border-color: #D3001F;
}
.btn-link-icon.btn-link-email-icon {
  background-color: #34B7F1;
  border-color: #34B7F1;
  color: #FFF;
}
.btn-link-icon.btn-link-email-icon:hover {
  background-color: #34A3F1;
  border-color: #34A3F1;
}
.btn-link-icon.btn-link-copy-icon {
  background-color: #10B981;
  border-color: #10B981;
  color: #FFF;
}
.btn-link-icon.btn-link-copy-icon:hover {
  background-color: #059669;
  border-color: #059669;
}
.btn-link-icon.is-rounded {
  border-radius: 5px;
}

.btn-link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 16px;
}
.btn-link-group li .btn-link-icon {
  width: 34px;
  height: 34px;
}
.btn-link-group li .btn-link-icon svg {
  width: 20px;
  height: 20px;
}

.slide-up-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-up-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-fade-enter-from,
.slide-up-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
