@use "scss/variables";
@use "scss/variants";
@use "scss/global";
@use "scss/buttons";
@use "scss/icon-buttons";
@use "scss/button-group";

.slide-up-fade-enter-active {
  transition: all .3s ease-out;
}

.slide-up-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-fade-enter-from,
.slide-up-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .btn-link,
  .btn-link-icon,
  .slide-up-fade-enter-active,
  .slide-up-fade-leave-active {
    transition: none !important;
  }
}
